<div class="container header-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <div class="identity-block">
        <h1>{{ site.name | escape }}</h1>
        {%- if site.email -%}
          <p class="header-email">
            {{ site.email_title | default: "Email" }}: <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a>
          </p>
        {%- endif -%}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
      <p class="language-switch no-print">
        {%- if page.lang == "ja" -%}
          <a href="{{ '/?lang=en' | relative_url }}">English</a>
        {%- else -%}
          <a href="{{ '/ja/' | relative_url }}">日本語</a>
        {%- endif -%}
      </p>

    </div>
  </div>
</div>
